 table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #cccccc4d;
    padding: 8px;
    text-align: left;
    text-align: center;
  }
  thead {
    background-color: #2d1919;
  }

  input {
    padding: .4rem;
  }

  .inputBox{
    padding: .3rem;
    display: flex;
    gap: 1rem;
  }